@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: #0D0D0D;
  --background-end-rgb: #0D0D0D;
}

html {
  margin: 0;
  background: var(--background-start-rgb);
}

.main-content {
  color: rgb(var(--foreground-rgb));
  background: var(--background-start-rgb);
  cursor: url(/default.png), default;
  min-height: 100vh;
}

.main-content a {
  cursor: url(/pointer.png), default;
}

.max-w-xxs {
  max-width: 16rem;
}

.lh-copy {
  line-height: 1.5;
}

.cursor-text {
  cursor: url('/text.png'), default;
}
